/* 
	CSS by Alexandra Sadvárová 
	UCN MMD 2020
*/
body{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}

.box1{
    background-color: orange;
    padding: 3vw;
}
.box2{
    background-color: orangered;
    padding: 3vw;
}
.box3{
    background-color: midnightblue;
    padding: 3vw;
}
.box4{
    background-color: olive;
    padding: 3vw;
}
@media (max-width: 767px){
    body{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 479px){
    body{
        grid-template-columns:  1fr;
    }
}